{{page-title "SuperRentals"}}

<nav class="menu">
	<h1><a href="/">SuperRentals</a></h1>
	<div class="links">
		{{#link-to "index"}}Home{{/link-to}}
		{{#link-to "about"}}About{{/link-to}}
		{{#link-to "contact"}}Contact{{/link-to}}
        {{#link-to "listings"}}Listings{{/link-to}}
	</div>
</nav>

{{outlet}}